.function {
  background-color: rgb(199, 222, 231);
  border: brown;
  color: rgb(184, 17, 17);
  padding: 15px 32px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

h2 {
  font-size: 35px;
  color: rgb(54, 105, 103);
  text-align: center;
}
p {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}